---
import Layout from "../layouts/Layout.astro";
import { App } from "../components/App";
import { Coffe } from "../components/Coffe";
import { Data } from "../components/Data";

import { User } from "../components/User";
import { Component } from "../components/Component";
---

<Layout title="Welcome to Astro.">
  <h1>Hello React</h1>
  <div class="bg-red-400">
    <App client:load />
  </div>
  <div class="bg-blue-500">
    <h1>logo</h1>
    <Coffe client:load />
  </div>
  <br />
  <div class="bg-green-500">
    <Data />
  </div>
  <div class="bg-yellow-500 w-24">
    <User client:load />
  </div>

  <div class="bg-orange-600">
    <!-- <Component /> -->
  </div>
</Layout>
