---
import Layout from "../layouts/Layout.astro";
import {Page1, Page2} from "../components/pages/index"
---
<Layout title="Welcome to Astro.">
  <h1>Pages Auto Barril</h1>
  <Page1/>
  <Page2/>
</Layout>
